/**********************
    GERAL
**********************/
:root {
    --primary-color: #1d9684;
    --secondary-color: #fbb375;
}

/**********************
    BANNER
**********************/
.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../img/home/rvcred/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    z-index: 1;
}
.banner::before {
    content: "";
    z-index: -5;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.banner .text {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .text h3 {
    font-size: 40px;
    color: #FFF;
    font-weight: bold;
}

/**********************
    CLAIMS
**********************/
.claims {
    margin: 35px 0;
}
.claims .content .title-area {
    text-align: center;
}
.claims .content .title-area .logo-area {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}
.claims .content .title-area .logo-area img {
    width: 100%;
    height: 100%;
}
.claims .content .title-area h3 {
    font-weight: bold;
    margin: 20px 0;
    font-size: 30px;
}
.claims .content .title-area p {
    font-size: 18px;
    text-align: left;
}
.claims .description-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.claims .description-area .title-area p {
    font-size: 25px;
    font-weight: bold;
}
.claims .content .title-area h3 {
    color: var(--primary-color);
}
.claims .content .title-area p {
    color: var(--secondary-color);
}
.claims .description-area .title-area p {
    color: var(--primary-color);
}

.claims .content .testimonial-area {
    width: 100%;
    margin: 30px 0;
}
.claims .content .testimonial-area .item {
    background: #FFF;
    width: 100%;
    max-width: 450px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px;
}
.claims .content .testimonial-area .item .title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.claims .content .testimonial-area .item .title-content .name-area {
    display: flex;
    align-items: center;
}
.claims .content .testimonial-area .item .title-content .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}
.claims .content .testimonial-area .item .text {
    margin-top: 15px;
}
.claims .content .testimonial-area .item .title-content .reason {
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
}

.claims {
    margin: 30px 0;
    padding: 15px 0;
}
.claims .title-area {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: bold;
}

.claims .form-area .form .form-group {
    margin-bottom: .5rem;
}
.claims .form-area .form .form-group input:focus,
.claims .form-area .form .form-group select:focus,
.claims .form-area .form .form-group textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
}
.claims .form-area .map-area {
    width: 100%;
    height: 100%;
}
.claims .btn-area {
    width: 100px;
    height: 35px;
    margin: 15px auto;
}

.claims .btn-area {
    width: 100px;
    height: 35px;
    margin: 15px auto;
}

.claims .btn-area button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--secondary-color);
    transition: .5 ease;
}

.claims .btn-area button:hover {
    color: var(--primary-color);
    font-weight: bold;
    background: var(--secondary-color);
}
